/* WORK PAGE */
.project-intro {
  padding: 40px 0 120px 0; 
  max-width: 600px;
}

.project-grid-6 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: var(--column-spacing);
  row-gap: var(--column-spacing);
  padding-bottom: var(--column-spacing);
}

.info-credits-grid-6{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: var(--column-spacing);
  row-gap: var(--column-spacing);
}

.span-one-third {
  grid-column: span 2;
}

.span-one-third-info {
  grid-column: span 2;
}

.span-half {
  grid-column: span 3;
}

.span-half-info {
  grid-column: span 3;
}

.span-two-thirds {
  grid-column: span 4;
}

.span-whole {
  grid-column: span 6;
}

.project-card {
  position: relative;
  cursor: pointer;
}

.project-thumb {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.project-overlay {
  position: absolute;
  opacity: 0;
  padding: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(30, 30, 30, 1);
  transition: .25s;
}

.project-info {
  max-width: 300px;
  line-height: calc(var(--project-info) + .1em);
}

.project-client {
  display: block;
  font-size: var(--project-info);
  margin: 0;
  color: white;
}

.project-description {
  display: inline-block;
  font-size: var(--project-info);
  margin: 0;
  color: var(--grey);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

/* PROJECT PAGE */

.project-img {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
}

.project-img-large {
  display: flex;
  height: 100%;
  width: 100%;
  min-height: 400px;
  max-height: 1500px;
  object-fit: cover;
}

.project-img-spot {
  display: flex;
  height: 70%;
  width: auto;
  margin: auto;
}

.project-blurb-box {
  display: flex;
  width: 100%;
  height: 100%;
  max-height: 700px;
  overflow: hidden;
  justify-content: center;
}

.project-blurb-locked {
  display: flex;
  position: absolute;
  align-items: center;
  width: auto;
  height: 40px;
  left: 0;
  bottom: 0;
  padding: 25px;
  color: var(--hlight);
  font-size: var(--h3);
}

.icon-locked {
  width: auto;
  height: 40px;
  padding-right: 15px;
}

.project-blurb-header {
  font-size: var(--h3);
  max-width: 460px;
  padding-bottom: 20px;
  color: var(--white);
}

.project-blurb-body {
  font-size: var(--h4);
  font-weight: 100;
  max-width: 425px;
  color:rgb(194, 194, 194)
}

.project-blurb {
  padding:50px;
}

.video {
  max-height: 700px;

}

.info-credits-column {
  display: block;
  list-style: none;
  margin-top: 80px;
}

.info-credits-content {
  font-size: var(--h4);
  padding-bottom: 40px;
 
}

.role {
  padding-left: 6px;
  font-size: var(--h6);
  color: var(--grey);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 1000px) {
  .info-credits-grid-6{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: var(--column-spacing);
    row-gap: var(--column-spacing);
    margin: 0;
  }

  .span-one-third {
    grid-column: span 6;
    min-height: 500px;
    max-height: 500px;
  }
  
  .span-half {
    grid-column: span 6;
    min-height: 500px;
    max-height: 500px;
  }
  
  .span-two-thirds {
    grid-column: span 6;
    min-height: 500px;
    max-height: 500px;
  }

  .span-whole {
    grid-column: span 6;
    min-height: 500px;
    max-height: 500px;
  }

  .span-one-third-info {
    grid-column: span 6;
  }

  .span-half-info {
    grid-column: span 6;
  }

}